:root {
  --icbl-color: #2fca00;
  --icbl-color-hover: rgba(47, 202, 0, 0.3);
  --icbl-color-text: rgb(14, 61, 0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lexend', sans-serif;
    font-size: 15px;
    color: #3a3a3a;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 90px;
    /* Offset for sticky menu */
}

#header {
    top: 0;
    position: sticky;
    z-index: 9999;
}

header {
    height: 90px;
    font-weight: 400;
    background-color: #fcfcfc;
    /* background-color: rgba(250, 250, 250, 0.85); */
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 80%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

nav ul li {
    position: relative;
    /* Required for dropdown positioning */
    margin: 0 10px;
}

nav ul li a {
    display: flex;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 16px;
    color: black;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: var(--icbl-color-hover);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.link-btn {
    background-color: var(--icbl-color);
    color: #fff;
    font-weight: bold;
    border-radius: 16px;
    padding: 10px 15px;
    text-decoration: none;
}

.link-btn:hover {
    background-color: var(--icbl-color);
}

/* Dropdown Menu */
nav ul li ul.dropdown {
    display: none;
    /* Hide dropdown initially */
    position: absolute;
    top: 100%;
    /* Position below parent <li> */
    left: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px 0;
    z-index: 1000;
}

nav ul li ul.dropdown li {
    width: 150px;
    /* Set a fixed width for dropdown items */
}

nav ul li ul.dropdown li a {
    padding: 10px 15px;
    display: block;
    text-align: left;
}

nav ul li ul.dropdown li a:hover {
    background-color: #f2f2f2;
}

/* Show Dropdown on Hover */
nav ul li:hover>ul.dropdown {
    display: block;
    /* Show dropdown when hovering over parent <li> */
}

footer {
    height: 40px;
    background: #3a3a3a;
    font-weight: 400;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a,
footer p {
    color: #eee;
    font-size: 12px;
    text-align: center;
}

.news {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    line-height: 25px;

    /* Scroll */
    flex: 1;
    overflow-y: auto;
}

.news li {
    margin: 10px 0px;
    text-decoration: none;
}

.news a,
.text-page a {
    color: #f97c00;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: calc(100vh - 90px - 40px);
    /* Subtracts header and footer heights */
}

.cover {
    display: flex;
    height: calc(100vh - 90px);
    /* subtract menu height */
    align-items: center;
    justify-content: left;
    padding-left: 25px;
    background-image: url("assets/photos/peaking1.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    z-index: 0;
}

.cover-content {
    max-width: 50%;
    padding: 22px 22px;
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);


    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.content {
    background-color: rgb(247, 251, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 45px 0px;
}

.content-left {
    display: flex;
    width: 55%;
    margin-right: 20px;
    align-self: flex-start;
}

.content-right {
    height: 100%;
    display: flex;
    vertical-align: top;
    width: 20%;
    align-self: flex-start;


}


.content-text {
    display: flex;
    flex-direction: column;
    text-align: justify;
    width: 100%;
    padding: 22px 22px;

    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.28);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(7.2px);
    -webkit-backdrop-filter: blur(7.2px);
    border: 1px solid rgba(255, 255, 255, 0.3);

}


.content-inner {
    display: flex;
    width: 55%;
    margin-right: 20px;
    text-align: justify;

}

.content-text p {}

.sponsors {
    height: auto;
    padding: 45px 0px;
}



main h1 {
    font-size: 48px;
    color: var(--icbl-color-text);
}

main h2 {
    font-size: 26px;
    color: #142a3a;
    font-weight: 800;
    margin: 8px 0px;
}

main h3 {
    font-size: 20px;
    color: #1d3d55;
    font-weight: 600;
    margin: 8px 0px;
}

main h4 {
    font-size: 18px;
    font-weight: 500;
    margin: 3px 0;
}

main p {
    line-height: 25px;
    margin: 8px 0;
}


/* .action-btn a {
    text-decoration: none;
    font-weight: bold;
    color: #fff;
}

.action-btn:hover {
    background-color: #0073c0;

}

.action-btn {
    padding: 10px 15px;
    margin-top: 20px;
    margin-bottom: 8px;
    background: #0092f6;
    color: #fff;
    outline: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s;
} */

.text-page {
    width: 80%;
    margin: 40px 0px;
}

.text-page ul {
    margin-left: 30px;
}

.text-page li {
    padding: 5px 0px;
}

.text-page p {
    font-weight: 400;
    line-height: 25px;
    margin: 15px 0;
}

.text-page h1 {
    margin: 25px 0px;
    font-size: 32px;
}

.text-page h2 {
    font-size: 26px;
    margin: 25px 0px;
}

.text-page h3 {
    margin: 25px 0px;
}

.content-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0px 20px 20px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 15px 0px;
}

.table th {
    display: flex;
    justify-content: left;
}

.table tr {
    line-height: 30px;
}

.content-group {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.content-box-small {
    display: flex;
    width: 40%;
    flex-direction: column;
    padding: 0px 20px 20px 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin: 15px 0px;
}

.content-group img {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 10px;
    height: 46vh;
    max-width: 100%;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1), 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.bx-menu {
    font-size: 30px;
}

.box-icon {
    display: none;
}

@media only screen and (max-width: 1024px) {
    nav {
        position: relative;
        flex-direction: column;
    }

    .box-icon {
        display: flex;
        top: 10px;
        right: 20px;
    }

    nav ul {
        background-color: #fcfcfc;
        display: none;
        position: fixed;
        top: 90px;
        left: 0;
        width: 100vw;
        border-radius: 5px;
    }

    .showmenu {
        display: block;
        color: whitesmoke;
    }

    nav ul li {
        padding: 2% 0;
    }

    nav ul li a {
        color: #222;
    }

    main h1 {
        font-size: 34px;
    }

    main h2 {
        font-size: 20px;
    }

    .cover-content {
        max-width: 90%;
    }

    .content-box-small {
        width: 100%;
    }

    .content {
        flex-direction: column;
        height: auto;
    }

    .content-left {
        width: 90%;
        margin: 10px 0;
        align-self: auto;
    }

    .content-right {
        width: 90%;
        margin: 10px 0;
        align-self: auto;
    }

}